src/main/resources/NfeJAXBModel2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.portalfiscal.inf.br/nfe"
		   xmlns="http://www.portalfiscal.inf.br/nfe"
		   elementFormDefault="qualified">

	<xs:element name="NFe">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="infNFe">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ide">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="cUF" type="xs:string"/>
										<xs:element name="cNF" type="xs:string"/>
										<xs:element name="natOp" type="xs:string"/>
										<xs:element name="indPag" type="xs:string"/>
										<xs:element name="mod" type="xs:string"/>
										<xs:element name="serie" type="xs:string"/>
										<xs:element name="nNF" type="xs:string"/>
										<xs:element name="dEmi" type="xs:date"/>
										<xs:element name="tpNF" type="xs:string"/>
										<xs:element name="cMunFG" type="xs:string"/>
										<xs:element name="tpImp" type="xs:string"/>
										<xs:element name="tpEmis" type="xs:string"/>
										<xs:element name="cDV" type="xs:string"/>
										<xs:element name="tpAmb" type="xs:string"/>
										<xs:element name="finNFe" type="xs:string"/>
										<xs:element name="procEmi" type="xs:string"/>
										<xs:element name="verProc" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="emit">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CNPJ" type="xs:string"/>
										<xs:element name="xNome" type="xs:string"/>
										<xs:element name="xFant" type="xs:string"/>
										<xs:element name="enderEmit">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="xLgr" type="xs:string"/>
													<xs:element name="nro" type="xs:string"/>
													<xs:element name="xCpl" type="xs:string" minOccurs="0"/>
													<xs:element name="xBairro" type="xs:string"/>
													<xs:element name="cMun" type="xs:string"/>
													<xs:element name="xMun" type="xs:string"/>
													<xs:element name="UF" type="xs:string"/>
													<xs:element name="CEP" type="xs:string"/>
													<xs:element name="cPais" type="xs:string"/>
													<xs:element name="xPais" type="xs:string"/>
													<xs:element name="fone" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="IE" type="xs:string"/>
										<xs:element name="IM" type="xs:string"/>
										<xs:element name="CNAE" type="xs:string"/>
										<xs:element name="CRT" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="dest">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CNPJ" type="xs:string"/>
										<xs:element name="xNome" type="xs:string"/>
										<xs:element name="enderDest">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="xLgr" type="xs:string"/>
													<xs:element name="nro" type="xs:string"/>
													<xs:element name="xBairro" type="xs:string"/>
													<xs:element name="cMun" type="xs:string"/>
													<xs:element name="xMun" type="xs:string"/>
													<xs:element name="UF" type="xs:string"/>
													<xs:element name="CEP" type="xs:string"/>
													<xs:element name="cPais" type="xs:string"/>
													<xs:element name="xPais" type="xs:string"/>
													<xs:element name="fone" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="IE" type="xs:string"/>
										<xs:element name="email" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="det">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="prod">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="cProd" type="xs:string"/>
													<xs:element name="cEAN" type="xs:string" minOccurs="0"/>
													<xs:element name="xProd" type="xs:string"/>
													<xs:element name="NCM" type="xs:string"/>
													<xs:element name="CFOP" type="xs:string"/>
													<xs:element name="uCom" type="xs:string"/>
													<xs:element name="qCom" type="xs:decimal"/>
													<xs:element name="vUnCom" type="xs:decimal"/>
													<xs:element name="vProd" type="xs:decimal"/>
													<xs:element name="cEANTrib" type="xs:string" minOccurs="0"/>
													<xs:element name="uTrib" type="xs:string"/>
													<xs:element name="qTrib" type="xs:decimal"/>
													<xs:element name="vUnTrib" type="xs:decimal"/>
													<xs:element name="indTot" type="xs:string"/>
													<xs:element name="xPed" type="xs:string"/>
													<xs:element name="nItemPed" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="imposto">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ICMS">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ICMS00">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="orig" type="xs:string"/>
																			<xs:element name="CST" type="xs:string"/>
																			<xs:element name="modBC" type="xs:string"/>
																			<xs:element name="vBC" type="xs:decimal"/>
																			<xs:element name="pICMS" type="xs:decimal"/>
																			<xs:element name="vICMS" type="xs:decimal"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="IPI">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="cEnq" type="xs:string"/>
																<xs:element name="IPINT">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CST" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PIS">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PISAliq">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CST" type="xs:string"/>
																			<xs:element name="vBC" type="xs:decimal"/>
																			<xs:element name="pPIS" type="xs:decimal"/>
																			<xs:element name="vPIS" type="xs:decimal"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="COFINS">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="COFINSAliq">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CST" type="xs:string"/>
																			<xs:element name="vBC" type="xs:decimal"/>
																			<xs:element name="pCOFINS" type="xs:decimal"/>
																			<xs:element name="vCOFINS" type="xs:decimal"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="infAdProd" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="nItem" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="total">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ICMSTot">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="vBC" type="xs:decimal"/>
													<xs:element name="vICMS" type="xs:decimal"/>
													<xs:element name="vBCST" type="xs:decimal"/>
													<xs:element name="vST" type="xs:decimal"/>
													<xs:element name="vProd" type="xs:decimal"/>
													<xs:element name="vFrete" type="xs:decimal"/>
													<xs:element name="vSeg" type="xs:decimal"/>
													<xs:element name="vDesc" type="xs:decimal"/>
													<xs:element name="vII" type="xs:decimal"/>
													<xs:element name="vIPI" type="xs:decimal"/>
													<xs:element name="vPIS" type="xs:decimal"/>
													<xs:element name="vCOFINS" type="xs:decimal"/>
													<xs:element name="vOutro" type="xs:decimal"/>
													<xs:element name="vNF" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="transp">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="modFrete" type="xs:string"/>
										<xs:element name="transporta">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="xNome" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="vol">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="qVol" type="xs:decimal"/>
													<xs:element name="esp" type="xs:string"/>
													<xs:element name="pesoL" type="xs:decimal"/>
													<xs:element name="pesoB" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="cobr">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="fat">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="nFat" type="xs:string"/>
													<xs:element name="vOrig" type="xs:decimal"/>
													<xs:element name="vLiq" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="dup">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="nDup" type="xs:string"/>
													<xs:element name="dVenc" type="xs:date"/>
													<xs:element name="vDup" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="infAdic">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="infAdFisco" type="xs:string"/>
										<xs:element name="obsCont">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="xTexto" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="xCampo" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:string" use="required"/>
						<xs:attribute name="versao" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
